<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<section class="container">
			<div class="card text-center">
				<div class="card-header">Edit Detainee</div>
				<div class="card-body text-left">

					<form th:action="@{/onewebs/detainee/save}" th:object="${detenido}" method="post">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="dni">Dni</label> <input type="text"
									class="form-control" th:field="*{dni}" placeholder="12345678">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="apellidos">Apellidos</label> <input type="text"
									class="form-control" th:field="*{apellidos}"
									placeholder="Ingrese el Apellido paterno y materno">
							</div>
							<div class="form-group col-md-6">
								<label for="nombres">Nombres</label> <input type="text"
									class="form-control" th:field="*{nombres}"
									placeholder="Ingrese el nombre">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="fechaNacimiento">Fecha Nacimiento</label> <input type="text"
									class="form-control" th:field="*{fechaNacimiento}" placeholder="Ingrese la fecha de nacimiento">
							</div>
							<div class="form-group col-md-2">
								<label for="distrito">Distrito</label> <input type="text"
									class="form-control"  th:field="*{distrito}" placeholder= "Ingrese el distrito">
							</div>
						</div>
					
						<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Grabar</button>
						<a th:href="@{/onewebs/detainee}" class="btn btn-danger"> Cancelar</a>
					</form>
				</div>
				<div class="card-footer text-center"></div>
			</div>

		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
