<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<section class="container">
			<div class="card text-center">
				<div class="card-header">New User</div>
				<div class="card-body text-left">

					<form th:action="@{/karwas/announcement/save}"
						th:object="${announcement}" method="post">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="description">Description</label> <input type="text"
									class="form-control" th:field="*{description}"
									placeholder="Ingrese una descripcion">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">

								<label for="announcementDate">Announcement Date</label> <input
									type="date" class="form-control" th:field="*{announcementDate}"
									placeholder="Ingrese la fecha de reserva">

							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="branchOffice">Branch Office</label> <select
									th:field="*{branchOffice}" class="form-control">
									<option value="">Seleccione sucursal</option>
									<option th:each="branchOffice : ${branchOffices}"
										th:value="${branchOffice.id}"
										th:text="${branchOffice.district + '-'+ branchOffice.address}">
									</option>
								</select>
							</div>
						</div>
						<button type="submit" class="btn btn-success">
							<i class="fas fa-save"></i> Grabar
						</button>
						<a th:href="@{/karwas/announcement/start}" class="btn btn-danger">
							Cancelar</a>
					</form>
				</div>
				<div class="card-footer text-center"></div>
			</div>

		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
