<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<section class="container">
			<div class="card text-center"> 
				<div class="card-header">Users</div>
				<div class="card-body">
					<table class="table table-borderless table-dark">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Email</th>
								<th scope="col">Password</th>
								<th scope="col">Dni</th>
								<th scope="col">Last Name</th>
								<th scope="col">Name</th>
								<th scope="col">Role</th>
								<th scope="col"></th>
						      
							</tr>
						</thead>
						<tbody th:each="user: ${users}">
							<tr>
								<th scope="row" th:text="${user.id}">1</th>
								<td th:text = "${user.email}">.</td>
								<td th:text = "${user.password}">.</td>
								<td th:text = "${user.person.dni}">.</td>
								<td th:text = "${user.person.lastName}">.</td>
								<td th:text = "${user.person.name}">.</td>
								<td th:text = "${user.role.nameRole}">.</td>

							    <td>
							      <a href="" class="btn btn-info"> <i class="fas fa-info"></i> </a>
							      <a th:href="@{'/karwas/user/edit/' + ${user.id}}" class="btn btn-warning"> <i class="fas fa-edit"></i> </a>
							      <a th:href="@{'/karwas/user/del/' + ${user.id}}" class="btn btn-danger"> <i class="fas fa-trash"></i> </a>
							    </td>
							</tr> 
							
						</tbody>
					</table>
				</div>
				<div class="card-footer text-center">
				<a th:href="@{/karwas/user/new}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> New User</a>
				</div>
			</div>

		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
