<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<section class="container">
			<div class="card text-center"> 
				<div class="card-header">Companys</div>
				<div class="card-body">
					<table class="table table-borderless table-dark">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Name</th>
								<th scope="col">RUC</th>
								<th scope="col">District</th>
								<th scope="col">Address</th>
								<th scope="col"></th>
						      
							</tr>
						</thead>
						<tbody th:each="branchoffice: ${branchoffices}">
							<tr>
								<th scope="row" th:text="${branchoffice.id}">1</th>
								<td th:text = "${branchoffice.company.name}">.</td>
								<td th:text = "${branchoffice.company.ruc}">.</td>
							    <td th:text = "${branchoffice.district}">.</td>
								<td th:text = "${branchoffice.address}">.</td>
							    <td>
							      <a href="" class="btn btn-info"> <i class="fas fa-info"></i> </a>
							      <a th:href="@{'/karwas/branchoffice/edit/' + ${branchoffice.id}}" class="btn btn-warning"> <i class="fas fa-edit"></i> </a>
							      <a th:href="@{'/karwas/branchoffices/del/' + ${branchoffice.id}}" class="btn btn-danger"> <i class="fas fa-trash"></i> </a>
							    </td>
							</tr> 
							
						</tbody>
					</table>
				</div>
				<div class="card-footer text-center">
				<a th:href="@{/karwas/branchoffice/new}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> New Company</a>
				</div>
			</div>

		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
