<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeLeaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main role="main">
		<section class="container">
			<div class="card text-center">
				<div class="card-header">New Payment</div>
				<div class="card-body text-left">

					<form th:action="@{/karwas/payment/save}" th:object="${payment}"
						method="post">

						<div class="form-row">
							<div class="form-group col-md-3">
								<div class="input-group-prepend">
									<input type="radio" name="payment" value="visa" th:field="*{method}">
									<img alt="visa" th:src="@{/images/visa.png}" class="mb-1" width="60" height="45">
									<input type="radio" name="payment" value="mastercard" th:field="*{method}">
									<img alt="mastercard" th:src="@{/images/mastercard.png}" class="mb-1" width="60" height="45">
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="numberCard">Number card</label> <input type="text"
									class="form-control" th:field="*{numberCard}"
									placeholder="Ingrese una tarjeta" id="choose" name="i_like" 
									required minlength="16" maxlength="16"  pattern="[0-9]{16}" 
									title="Ingresar 16 digitos n&uacute;mericos de tarjeta">
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="cvv">CVV</label> <input type="text"
									class="form-control" th:field="*{cvv}"
									placeholder="Ingrese el codigo cvv" id="choose1" name="i_like" 
									required minlength="3" maxlength="3"  pattern="[0-9]{3}" 
									title="Ingresar 3 digitos n&uacute;mericos de cvv">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">

								<label for="dateExp">Date Exp</label> <input type="date"
									class="form-control" th:field="*{dateExp}"
									placeholder="Ingrese la fecha de expiracion">

							</div>
						</div>

						<button type="submit" class="btn btn-success">
							<i class="fas fa-save"></i> Grabar
						</button>
						<a th:href="@{/karwas/payment/start}" class="btn btn-danger">
							Cancelar</a>
					</form>
				</div>
				<div class="card-footer text-center"></div>
			</div>

		</section>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>
